@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

body a, #business, #pleasure {
    font-family: 'Righteous', sans-serif;
    color: white;
    text-decoration: underline;
    background-color: black;
    text-align: center;
}

#business, #pleasure {
    font-size: 3vw;
    margin-top:10%
}

body a {
    font-size: 2vw;
    margin-bottom:-2vw;
}

body a:hover, #business:hover, #pleasure:hover {
    color: #2faced;
}

#logo {
    max-width: 90%;
    margin-top:1%;
}

.vid, .fun {
    text-align: center;
}

.main {
    margin-top:3vw;
}
